<form  method="post" action="/addHeader">
    <input name='heaterContact' placeholder="Logo Name">
    <input name='links1' placeholder="links1 name">
    <input name='links2' placeholder="links2 name">
    <input name='links3' placeholder="links3 name">
    <input name='links4' placeholder="links name">
    <input name='color' type='color' value="black">font-color</input>
    <input name='bg_color' type='color' value="#FFFFFF">Bg-color</input>
    <button type='submit'>Submit</button>
    <a href="/" style="">Back</a>  
</form>
<script src="/client.js"></script>