
    <link href="/css/Header.css" rel="stylesheet" type="text/css">
    <header class= "header" style="color:#fff5f5;background-color:#000000" >
        <div class="logo " style="color:#fff5f5" name="F_logoname"><h3> <a href="/" style="color:#fffafa" >Logo<img src="/avatar/logo/1704870981567.jpg" alt="Logo" height="35"></a></h3></div>
        <div class="links" >
           <a href="/" style="color:#fff5f5" >Home</a>
           <a href="/product" style="color:#fff5f5">Products</a>
           <a href="/about" style="color:#fff5f5">About</a>
           <a href="contact" style="color:#fff5f5">Connect</a>            
           <a href="/dashboard" style="color:#fff5f5"><i class="fa-solid fa-user"></i></a>  
        </div>
     </header>
     <script src="/client.js"></script>
   