<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<body class="container">
   
<header>
    <%- include('./header'); %>

</header>

<main>
    <form  method="post" action="/addHeader">
        <input name='heaterContact' placeholder="Logo Name">
        <input name='links' placeholder="links Name">
        <button type='submit'>Submit</button>
    </form>
</main>

<footer></footer>

</nav>
</body>
<script src="/client.js"></script> 
</html>