<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./MainHead/head'); %>
</head>
<link href="/css/addmin.css" rel="stylesheet" type="text/css">
<body class='addmin contener'>
  <%- include('./Head/Nav'); %>
  <header class="M_Head"><%- include('./header'); %></header>  
   <div class='body'>
    <div class="wrapper ">
      <form method="post" action="/login">
        <h2>Login</h2>
          <div class="input-field">
          <input type="text" required name='username'>
          <label>Enter your name</label>
        </div>
        <div class="input-field">
          <input type="password" required name='password'>
          <label>Enter your password</label>
        </div>
        <div class="forget">
          <!-- <label for="remember">
            <input type="checkbox" id="remember">
            <p>Remember me</p>
          </label> -->
          <a href="/logout">Forgot password?</a>
        </div>
        <button type="submit">Log In</button>
        <div class="register">
          <p>การเข้าถึงหลังบ้าน ต้องเป็น Addmin เท่านั้น <br/> ถ้ารหัสไม่ถูกต้อง ระบบจะย้อนกลับไปที่หน้าโฮม <br/> <br/><br/><a href="/">กลับหน้าแรก</a></p>
        </div>
      </form>
    </div>
  </div>

</body>
<script src="/client.js"></script>
</html>
