<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<body class='contener' > 
  <%- include('./Head/Nav'); %>
    <header><%- include('./header'); %></header>   

    <div>Product</div>

</body>
<script src="/client.js"></script>
</html>
