* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(41, 39, 39);
}
.contener {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}
.M_Head {
  position: fixed;
  width: 100%;
}
