* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contener > .content {
  border: 1px solid gray;
  padding: 1rem;
}
