.H002 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.H002 .On {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  flex-wrap: wrap;
}
.H002 .On > * {
  padding: 1rem;
  width: 250px;
  position: relative;
  height: auto;
  align-content: center;
  text-align: center;
  overflow: visible;
  transition: 0.2s;
  margin: 1rem;
}

.H002 .On .promotion {
  position: absolute;
  top: 0;
  width: 60px;
  margin: 1rem;
}
.H002 .On > div img {
  padding: 0.4rem;
  width: 220px;
  height: inherit;
  float: none;
}
.H002 .On .star {
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: rgba(207, 182, 16, 0.75);
  font-size: small;
  margin: -0.5rem 0 0.6rem 2.3rem;
}
.star .icon {
  padding-right: 0.4rem;
}
.H002 .On > div a {
  box-shadow: 0px 0px 2px gray;
  padding: 4px 10px;
  margin: 16px;
}

.H002 .On > div:hover {
  box-shadow: 0px 0px 8px gray;
  border-radius: 10px;
}
/* R */
.H002 .R {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 70%;
  border-bottom: 2px solid gray;
  margin-bottom: 2rem;
}
.H002 .R .first {
  padding: 1rem;
  box-shadow: 0 0 3px gray;
  margin: 0 3rem 0rem 0rem;
  transition: 0.02s;
}
.H002 .R .first img {
  transition: 0.2s;
  width: 250px;
}
.H002 .R .first img:hover {
  width: 260px;
}
.H002 .R .lest {
  align-self: start;
  margin-top: 0rem;
  cursor: pointer;
}
.H002 .R .lest h3 {
  text-decoration: underline;
  padding-bottom: 1rem;
}
.H002 .R .lest P {
  line-height: 2;
}
/* media */
@media only screen and (max-width: 600px) {
  .H002 {
    margin-top: 5rem;
  }
  .H002 .R {
    flex-direction: column;
    padding: 2rem;
    width: 100%;
  }
  .H002 .R .first {
    margin: 0 0rem 2rem 0rem;
    width: 100%;
  }
  .H002 .R .first img {
    width: 100%;
  }
  .H002 .R .first img:hover {
    width: 102%;
    padding: 0;
    margin: 0;
  }
}
