.H002 .promotions {
  display: flex;
  flex-wrap: wrap;
}
.H002 .promotions > * {
  width: 300px;
}
/* media */
@media only screen and (max-width: 600px) {
  .H002 .promotions > * {
    width: 100%;
  }
}
