* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(41, 39, 39);
}
.contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.contener > .content {
  padding: 2rem;
}
