<link href="/css/PageColor.css" rel="stylesheet" type="text/css">
<form  method="post" action="/HomeEdit001" class="Headeredit" >
    <h4>H001 Edit</h4>      
    <input name='font_color' type='color' value="<%- include('../../public/avatar/page/fontColor.txt');%>">font-color</input>
    <input name='back_color' type='color' value="<%- include('../../public/avatar/page/backgroundColor.txt');%>">Bg-color</input>
    <br/>
    <br/>  <div>
    <button type='submit'>Save</button>
    <!-- <a href="/" style="">กลับหน้าแรก</a>   -->
  </div>
</form>
<script src="/client.js"></script>