<!-- Hoo2 -->
<link href="/css/Forms.css" rel="stylesheet" type="text/css">
<form  method="post" action="/HomeEdit002/promo02" class="Headeredit HomeEdit001" enctype="multipart/form-data"  style="margin:1rem;">
    <h4>แก้ไข Promotion #2 </h4>  <br/>    
      <img  src="/avatar/Home/H002/promo02/<%- include('../../public/avatar/Home/H002/promo02/promo02Img.txt'); %>" alt="Girl in a jacket" style="width:100px;">
      <%- include('../../public/avatar/Home/H002/promo02/promo02.txt'); %>
      <input name='promo02' type='text' value="<%- include('../../public/avatar/Home/H002/promo02/promo02.txt');%>" ></input>
      <input name='promo02Img' type='file' value="" required></input>
      <button type='submit' >Save</button>
</form>