<!-- Hoo2 -->
<link href="/css/Forms.css" rel="stylesheet" type="text/css">
<link href="/css/HomeEdit002.css" rel="stylesheet" type="text/css">
<form  method="post" action="/HomeEdit002" class="Headeredit HomeEdit001" enctype="multipart/form-data" >
    <h4>แก้ไข หน้าแรก H002 </h4>  <br/>  
    <input name='' type='text'></input>
    <button type='submit' >Save</button>
</form>
