<!-- Hoo2 -->
<link href="/css/Forms.css" rel="stylesheet" type="text/css">
<form  method="post" action="/HomeEdit002/promoContactContents" class="Headeredit HomeEdit001" style="margin:0.4rem;ailine-text:center;">
    <h4>แก้ไข Promotion Contact Contents </h4><br/>    
      <input name='promoContactContentHead' type='text'value="<%- include('../../public/avatar/Home/H002/promoContactContents/promoContactContentHead.txt');%>"  ></input>
      <textarea  name='promoContactContentTextarea' rows="2" cols="50" style="margin:1rem;width:90%;"><%- include('../../public/avatar/Home/H002/promoContactContents/promoContacContentarea.txt');%> </textarea>  <br/> 
      <button type='submit' >Save</button>
</form>