<link href="/css/HomePage002.css" rel="stylesheet" type="text/css">
<div class="H002" >


    <div class="On">
 
       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
        <img  src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2023/08/Product/asus-vivobook-go-15-m1504fa-nj366w-notebook-front-right-view.jpg" alt="Girl in a jacket" >
        <div class='star'> 
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>
   
    </div>
        <p>Contenter Manager</p>
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>
       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
        <img  src="https://powermaccenter.com/cdn/shop/files/A012000x2000_74cd2481-56ec-4276-9856-14beccb3b413.jpg?v=1692051392" alt="Girl in a jacket" >
             <div class='star'> 
                 <i class="fa-solid fa-star icon"></i>
                 <i class="fa-solid fa-star icon"></i>
                 <i class="fa-solid fa-star icon"></i>
                 <i class="fa-solid fa-star icon"></i>
                  <i class="fa-solid fa-star icon"></i>
            </div>
        <p>Contenter Manager</p>       
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>  

       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
        <img  src="https://new-edifier-us-oss.edifier.com/images/20230328/d355c57c4f4a47b7f109c7f6bd50ee20.png" alt="Girl in a jacket" >
        <div class='star'> 
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>   
      </div>
          <p>Contenter Manager</p>
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>  


       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
        <img  src="https://mercular.s3.ap-southeast-1.amazonaws.com/images/products/2021/08/Product/hcare-plus-smart-watch-gray-02.jpg" alt="Girl in a jacket" >
        <div class='star'> 
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>
         <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
    </div>
        <p>Contenter Manager</p>
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>

    </div>

    <div class="L">L</div>
    
</div>   
   