<style>
</style>
<link href="/css/HomePage001.css" rel="stylesheet" type="text/css">
<div class="content H001" >
    <div class="L">
        <h1>welcome to -------</h1> 
        <div class="lineBox" >
            <div class="small" style=" background-color:<%- include('../../public/avatar/page/fontColor.txt')%>"></div>
            <div class="largar" style=" background-color:<%- include('../../public/avatar/page/fontColor.txt')%>"></div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/>
            Alias necessitatibus quaerat ad quas perferendis debitis quam <br/>
             accusamus minima dignissimos esse delectus facilis, <br/> 
             voluptas excepturi quos consequatur est voluptates dicta hic.</p>
             <%- include('../../public/avatar/page/backgroundColor.txt'); %> 
    </div>
    <div class="R">
        <div>
            <i class="fa-solid fa-house"></i>
            <p>Home</p>
        </div>
        <div>
            <i class="fa-solid fa-house"></i>
            <p>Products</p>
        </div>
        <div>
            <i class="fa-solid fa-house"></i>
            <p>About</p>
        </div>
        <div>
            <i class="fa-solid fa-house"></i>
            <p>Contact</p>
        </div>      
    </div>
</div>
 