<form  method="post" action="/addHeader">
    <input name='heaterContact' placeholder="Company Name" required>
    <input name='links1' placeholder="Home" required>
    <input name='links2' placeholder="Products" required>
    <input name='links3' placeholder="About" required>
    <input name='links4' placeholder="Contact" required>
    <input name='color' type='color' value="black">font-color</input>
    <input name='bg_color' type='color' value="#FFFFFF">Bg-color</input>
    <button type='submit'>Submit</button>
    <a href="/" style="">Back</a>  
</form>
<script src="/client.js"></script>