<link href="/css/Headeredit.css" rel="stylesheet" type="text/css">
<form  method="post" action="/addHeader" class="Headeredit" enctype="multipart/form-data">
    <h4>Header Edit</h4>
    <br/>
    <p>แก้ไข สำหรับ หัวข้อกดเข้า และ ชื่อ-โลโก้ </p>
    <%- include('../Head/Nav'); %> 
    <header><%- include('../header'); %></header>   
    <input name='heaterContact' placeholder="Company Name"  >
    <input name='logoimg' type='file' required >
    <input name='links1' placeholder="Home" required>
    <input name='links2' placeholder="Products" required>
    <input name='links3' placeholder="About" required>
    <input name='links4' placeholder="Contact" required> <br/>
    <input name='color' type='color' value="black">font-color</input>
    <input name='bg_color' type='color' value="#FFFFFF">Bg-color</input>
    <br/>
  <div>
    <button type='submit'>Save</button>
  </div>
</form>
<script src="/client.js"></script>