
    <link href="/css/Nav.css" rel="stylesheet" type="text/css">
<div class="Nav">
    <header class= "NavContent" style="color:#fff5f5;background-color:#000000" >
        <div class="logo " style="color:#fff5f5"  name="F_logoname"><h3 style="color:#fff5f5" > <a href="/" style="color:#fff5f5">Logo<img src="/avatar/logo/1704870981567.jpg" alt="Logo" height="35"></a></h3></div>
        <div class='menu' style="color:#fff5f5"   onclick="gettext()"><i class="fa-solid fa-bars" style="color:#fff5f5" ></i></div> 
     </header> 
     <div id="demo" class='Black' onclick="gettext()" style="color:#fff5f5;background-color:#000000">
        <a href="/" style="color:#fff5f5" >Home</a>
        <a href="/product" style="color:#fff5f5">Products</a>
        <a href="/about" style="color:#fff5f5">About</a>
        <a href="contact" style="color:#fff5f5">Connect</a>            
        <a href="/dashboard" style="color:#fff5f5"><i class="fa-solid fa-user icon"></i>Dashboard</a>  
     </div>
     <script>
        function gettext() {            
           var element = document.getElementById("demo");
           element.classList.toggle("Open_nav");
        }   
      </script>
</div>
   